/nbproject/private/
/MathTools/build/
/build/
/Laminate/build/
/Core/build/
/eLamX1Import/build/
/AdditionalFailureCriteriaMetal/build/
/File_Support/build/
/AdditionalLSDynaFailureCriteria/build/
/GlobalActions/build/
/AdditionalAbaqusFailureCriteria/build/
/Export/build/
/AdditionalAutodeskFailureCriteria/build/
/AdditionalAnsysFailurecriteria/build/
/LaminatEditor/build/
/File_View/build/
/Classical_Laminated_Plate_Theory/build/
/Classical_Laminated_Plate_Theory_Cutout/build/
/AdditionalCutoutGeometries/build/
/MaterialDatabase/build/
/Classical_Laminated_Plate_Theory_Spring-In/build/
/Classical_Laminated_Plate_Theory_PressureVessel/build/
/AdditionalSpringInModels/build/
/Classical_Laminated_Plate_Theory_Plate/build/
/Classical_Laminated_Plate_Theory_Plate_UI/build/
/Classical_Laminated_Plate_Theory_Optimzation/build/
/AdditionalOptimizers/build/
/AdditionalFailureCriteria/build/
/AdditionalStiffeners/build/
/Micromechanics/build/
/AdditionalMicroMechanicModels/build/
/LFTUtilities/build/
/LaminateFailureBody/build/
/WelcomeScreen/build/
/CarpetPlots/build/
/JFreeChart/build/
/MicromechanicsUI/build/
/Classical_Laminated_Plate_Theory_UI/build/
/Classical_Laminated_Plate_Theory_Cutout_UI/build/
/Classical_Laminated_Plate_Theory_PressureVessel_UI/build/
/FailureCriterionView3D/build/
/Classical_Laminated_Plate_Theory_Spring-In_UI/build/
/Classical_Laminated_Plate_Theory_Optimization_UI/build/
/Classical_Laminated_Plate_Theory_3DView/build/
/dist/
/File_Support/nbproject/private/
/Core/nbproject/private/
/Classical_Laminated_Plate_Theory/nbproject/private/
/Classical_Laminated_Plate_Theory_PressureVessel/nbproject/private/
/netbeans_platform_*/
/JFreeChart/nbproject/private/
/batchrun/build/
/batchrun/nbproject/private/
/AdditionalBatchrunOutput/build/
